/* Add your styles here */
p {
    color: rgb(54, 54, 219);
    font-size: 20px;
}

li {
    background-color: yellow;
}

 a { color: green; }

/* Class selectors */
.bold {
    font-weight: bold;
    font-size: 20px;
}
a:hover {
  background-color: yellow;
  font-size: 18px;
}
.footer-link {
  margin: 8px 0;
  font-size: 0.9em;
  color: #555;
}
.site-nav {
  list-style: none;
  padding: 0;
}

/* ID selector */
#goober {
    font-style: italic;
    color: red;
}

@media (min-width: 600px) {
    p {
        font-size: 16px;
    }
}
@media (max-width: 599px) {
    p {
        font-size: 12px;
    }
}

img {
    width: 300px;
    height: 300px;
}

table {
    border: 1px solid black
}
td {
    border: 1px solid black
}
